@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

html{
    font-family: 'Bona Nova', serif;
    height: 100vh;

}

/* all */

*{
    margin: 0px;
    padding: 0;
    text-decoration: none;
}

.clearfix{
    clear:both;
    float: none;
}


body{
    background-color: rgba(245, 243, 220, 0.308);
    height: 100vh;
}

p{
    margin-bottom: 10px;
}
.alert{
    padding: 5px;
    font-size: 14px;
    color: rgb(3, 0, 0);
    background: #01995fd3;
    margin-bottom: 14px;
    border-radius: 2px;
}

.alert-error{
    background: rgb(255, 83, 83);
    padding: 2px;

}

#header{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0 auto;

}

#logo{
    float: left;
    width: 540px;
    height: 100px;
    margin-left: 15px;
    box-shadow: 0px 1px 3px #ccc;
}

#logo a{
    font-size: 25px;
    letter-spacing: 2px;
    color:rgba(95, 19, 133, 0.842);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.459), 1px 1px 0px rgba(0, 0, 0, 0.5), 2px 2px 0px rgba(0, 0, 0, 0.493);
    transition: all 500ms;
    line-height: 90px;
    
}
#logo a:hover{
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.459), -1px -1px 0px rgba(0, 0, 0, 0.5), -2px -2px 0px rgba(0, 0, 0, 0.493);
}

#menu{
    clear:both;
    width: 100%;
    height: 45px;
    background-color: #6531b991;
    border: 1px solid e4ba00;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(165, 117, 243, 0.473);
    overflow: hidden;
}
#menu ul{
    list-style: none;
}

#menu ul li{
    float: left;
    line-height: 44px;
    border-right: 1px solid #e4ba00;
}



#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color:black;
}

#menu ul li a:hover{
    background: #6c4d9e91;
}

#container{
    width: 86%;
    min-height: auto;
    margin: 30px auto;
    margin-bottom: 115px;
}

#sidebar{
    float: right;
    width: 27%;
    min-height: auto;

}

#sidebar .block-aside{
    display: block;
    width: 90%;
    margin: 0px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 
    0px -3px 2px rgba(0, 0, 0, 0.3)inset; 
    margin-bottom: 20px;
    border-radius: 5px;


}

label,
input[type="text"],
input[type="email"],
input[type="password"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 3px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    padding: 2px;
    margin-bottom: 10px;
}


input[type="button"],
input[type="submit"]
{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    padding: 20px;
    background: #007ee5;
    border: 1px solid #156785;
    padding: 7px;

}

.block-aside h3{
    margin-bottom: 15px;

}

main{
    float: left;
    width: 65%;
    min-height: 537px;
    background: rgba(245, 240, 220, 0.336);
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 
    0px -3px 2px rgba(0, 0, 0, 0.3)inset; 
    margin-left: 20px;
    padding: 20px;
}

main h1{
    font-size: 32px;
    color:rgba(95, 19, 133);
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;

}

main h2{
    font-size: 20px;
    color:rgb(0, 20, 136);
    letter-spacing: 1px;
    margin-top: 25px;
}

main a{
    color: black;
}


main p{
    margin-top: 8px;
}
.date{
    color: rgb(0, 87, 102);
}

.button{
    display: block;
    border-radius: 2px;
    padding: 20px;
    background: #007ee5;
    border: 2px solid #156785;
    width: 160px;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 5px;
}

.button-menu{
    width: 130px;
    padding: 15px;
    height: auto;
    color: black;
    font-size: 15px;
}

.button-delete{
    background-color:rgb(255, 83, 83)

}
#foot{
    clear: both;
    width: 85%;
    margin: 0px auto;
    background: #6531b991;
    border: 2px solid #e4ba00;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    height: auto;
    padding: 15px;
    text-align: center;
    bottom: 0px;

}